@import './base';

.text-center {
    text-align: center;
}

.fwt-bold {
    font-weight: bold;
}

.px-half {
    padding-left: 0.5rem !important;
}

.text-danger {
    color: $danger-color !important;
}

.text-muted {
    color: $color-mute !important
}