.page-wrapper {
    position: relative;

    .side-bar-collapse {
        width: 80px !important;

        .side-bar-nav {
            .logo {
                .nav-link {
                    margin-left: -210px;
                }

                .bx-chevrons-left {
                    transform: rotate(180deg);
                }
            }

            .side-nav-item {
                a>span {
                    margin-left: -210px !important;
                }
            }
        }
    }

    .side-bar-wrapper {
        height: 100vh;
        background-color: $primary-color-light;
        width: 250px;
        border-radius: 0 30px 0 0;
        transition: width 600ms ease;
        position: fixed;
        top: 0;
        box-shadow: 0 0 21px 0 rgba(rgb(37, 37, 37), 0.1);

        .side-bar-nav {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            height: 100%;

            .side-nav-item {
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 5px;

                &:hover {
                    opacity: 1;
                }


                a {
                    color: white;
                    padding: 7px;
                    transition: 600ms ease;
                    opacity: 0.8;
                    align-items: center;

                    span {
                        transition: 600ms ease;
                    }

                    &:hover {
                        text-decoration: none;
                        background-color: rgba(255, 255, 255, 0.2);
                        width: 100%;
                        padding: 7px;
                        border-radius: 10px;
                        opacity: 1;
                    }

                    i {
                        margin-left: auto;
                    }

                }

                .active {
                    background-color: rgba(255, 255, 255, 0.2);
                    width: 100%;
                    padding: 7px;
                    opacity: 1;
                    display: flex;


                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                &:last-child {
                    margin-top: auto;
                    margin-bottom: 10px;
                }

                .sub-nav {
                    background-color: #517D96;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    .sub-nav-item {
                        font-size: 14px;
                        width: 100%;
                        display: flex;
                        transition: 600ms ease;
                        margin-left: 35px;

                        a {
                            width: 100%;
                            transition: 600ms ease;
                            color: rgba(255, 255, 255, 0.75);

                            &:hover {
                                background: none;
                                color: white;
                            }
                        }
                    }


                }
            }
        }
    }

    .logo {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 8px;
        text-align: center;
        background: var(--bg-secondary);
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
        display: flex;
        align-content: space-around;
        align-items: center;
        justify-content: space-around;

        a {
            color: $color-white;
            display: flex;
            align-items: center;
            transition: 600ms ease;
        }

        i {
            transition: 600ms ease;
            color: $color-white;
            font-size: 36px;
        }

        i:hover {
            cursor: pointer;
        }

    }
}