
$primary-color-light: #3F667C;
$primary-color-dark: #204051;
$semi-dark :#59667a;
$danger-color: #F05454;
$color-white: #fff;
$color-mute: #b4b4b4;
$color-border-line: hsla(202, 100%, 18%, 0.3);

$header-wrapper-padding: 22px 30px;
